PORT=5000
# Thay the bang chuoi ket noi MongoDB Atlas (Cloud) cua ban:
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/order_drink_db?retryWrites=true&w=majority
CLIENT_URL=http://localhost:3000
